@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar utilities */
.scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  /* Safari and Chrome */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes progressBar {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
